<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--todo login for judge
maybe we have to use the user class for judge?!  so no new table just different status..
A) then we would need to append the user class for the vars we need for the judge
but then the forwarding to different page after login (then for users) will be hard
and password will be hashed..
OR
B) we do it by our self ... difficulties will be the token,  who is logged in...
and having accesses control over the pages that are just meant for judges will be hard.

I think A) will be easier to find workarounds..
-->
</body>
</html>