<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Competition</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">New Competition</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/addcompetition}" th:object="${competition}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Competition Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Competition Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="adminid" class="col-form-label">Created by</label>
                        <input type="text" th:field="*{adminID}" class="form-control" id="adminid" placeholder="Admin ID">
                        <span th:if="${#fields.hasErrors('adminID')}" th:errors="*{adminID}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="startdate" class="col-form-label">Start</label>
                        <input type="date" th:field="*{startDate}" class="form-control" id="startdate" placeholder="Start date">
                        <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="enddate" class="col-form-label">End</label>
                        <input type="date" th:field="*{endDate}" class="form-control" id="enddate" placeholder="End date">
                        <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="desc" class="col-form-label">Description</label>
                        <input type="text" th:field="*{description}" class="form-control" id="desc" placeholder="Competition Description">
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="type" class="col-form-label">Type</label>
                        <input type="text" th:field="*{type}" class="form-control" id="type" placeholder="type">
                        <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="status" class="col-form-label">Status</label>
                        <input type="text" th:field="*{status}" class="form-control" id="status" placeholder="status">
                        <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Add Competition">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
