<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Your Competition</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>
<body>
<div class="container my-5">
    <div class="panel panel-default">
        <h2 class="mb-5" th:object="${competition}">Infos on the Competition <span th:text="*{name}"></span></h2>
        <div class="card mt-5">
            <h5 class="card-header">Basic Infos</h5>
            <div class="card-body">
                <p>Start Date: <span th:text="${#dates.format(competition.startDate, 'EEE, dd.mm.yyyy')}"></span></p>
                <p>End Date: <span th:text="${#dates.format(competition.startDate, 'EEE, dd.mm.yyyy')}"></span></p>
                <p>Description: <span th:text="${competition.description}"></span></p>
                <p>Type: <span th:text="${competition.type}"></span></p>
                <p>Status: <span th:text="${competition.status}"></span></p>
                <div class="ml-2">
                    <a th:href="@{/home/competitions/edit/{id}(id=*{id})}" class="btn btn-primary">Edit</a>
                    <a th:href="@{/home/competitions/delete/{id}(id=*{id})}" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="panel-body">For each Category:
                <div class="list-group" th:switch="${competition.getCategories()}">
                    <h2 th:case="null">No categories yet!</h2>
                    <div th:case="*">
                        <div th:each="cat : ${competition.getCategories()}">
                            <p th:text="${cat.label}" class="list-group-item list-group-item-action"></p>
                            <div></div>
                        </div>
                    </div>
                </div>
                <p class="my-5"><a th:href="@{/home/competitions/view/newcategory/{id}(id=*{id})}" class="btn btn-primary">New Category</a></p>
                <ul>
                    <li>New</li>
                    <li>Add Participants</li>
                    <li>Delete</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <h5 class="card-header">Groups</h5>
        <div class="card-body">
            <div class="panel-body">For each Group:
                <div class="list-group" th:switch="${competition.getGroups()}">
                    <h2 th:case="null">No groups yet!</h2>
                    <div th:case="*">
                        <div th:each="group : ${competition.getGroups()}">
                            <p th:text="${group.name}" class="list-group-item list-group-item-action"></p>
                            <div></div>
                        </div>
                    </div>
                </div>
                <p class="my-5"><a th:href="@{/home/competitions/view/group/new/{comp_id}(comp_id=*{id})}" class="btn btn-primary">New Group</a></p>
                <ul>
                    <li>New</li>
                    <li>Add Participants</li>
                    <li>Add Apparatus</li>
                    <li>Delete</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <h5 class="card-header">Judges</h5>
        <div class="card-body">
            <div class="panel-body">Their Login (make password hidden - button to show)</div>
        </div>
    </div>
</div>
</body>
